@page "/CharacterCreator"
@using System.Text.Json
@inject HttpClient _http

<div style="display: flex">
    <div class="column-left">
        <h2>Traits</h2>
    </div>

    <div class="column-center">
        <h2>Info</h2>
    </div>

    <div class="column-right">
        <h2>Stats</h2>
    </div>
</div>

<div class="character-display">
    <div class="column-container">
        <div class="column-left">
            @foreach (Trait trait in _playerSheet.Traits) {
                switch (trait.Value) {
                    case TraitValue.Good:
                        <Tooltip Text=@trait.Effects>
                            <p class="trait-good" @onclick="() => TraitRemove(trait)">[@trait.Name]</p>
                        </Tooltip>
                        break;
                    case TraitValue.Neutral:
                        <Tooltip Text=@trait.Effects>
                            <p class="trait-neutral" @onclick="() => TraitRemove(trait)">[@trait.Name]</p>
                        </Tooltip>
                        break;
                    case TraitValue.Bad:
                        <Tooltip Text=@trait.Effects>
                            <p class="trait-bad" @onclick="() => TraitRemove(trait)">[@trait.Name]</p>
                        </Tooltip>
                        break;
                    case TraitValue.Special:
                        <Tooltip Text=@trait.Effects>
                            <p class="trait-special" @onclick="() => TraitRemove(trait)">[@trait.Name]</p>
                        </Tooltip>
                        break;
                    case TraitValue.Ability:
                        <Tooltip Text=@trait.Effects>
                            <p class="trait-ability" @onclick="() => TraitRemove(trait)">[@trait.Name]</p>
                        </Tooltip>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
            <RadzenDropDown TValue="string" Data="_traitsList.Keys" Change="@(TraitDropdownSelect)" AllowFiltering="true" Style="border-radius: 0; border-color: grey; color: inherit; background: inherit; cursor: pointer"/>
        </div>

        <div class="column-center">
            <p>
                <input @bind="_playerSheet.Name"/>
            </p>
            <p>
                <input @bind="_playerSheet.Pronoun"/>
            </p>
            <p>
                <input @bind="_playerSheet.Species"/>
            </p>
            <p>
                <input @bind="_playerSheet.Class"/>
            </p>

        </div>

        <div class="column-right">
            @foreach (string stat in _playerSheet.Stats.Keys) {
                <p>
                    <label>
                        @stat - <input @bind='_playerSheet.Stats[stat]' style="width: 30px; text-align: center" maxlength="2" inputmode="numeric"/>
                    </label>
                </p>
            }
        </div>
    </div>

    <img src="@_playerSheet.ImageUrl" alt="Image of the character @_playerSheet.Name." class="char-picture"/>
    <input @bind="_playerSheet.ImageUrl" inputmode="url" class="char-picture"/>

</div>

<textarea @bind="_playerSheet.Bio" style="width: 100%"></textarea>

<hr/>

<div style="display: flex">
    <div class="column-left">
        <h2>Inventory</h2>
    </div>

    <div class="column-center">
        <h2>Moves</h2>
    </div>

    <div class="column-right">
        <h2>Status</h2>
    </div>
</div>

<div class="character-display">
    <div class="column-container">
        <div class="column-left">
            <table>
                <tr>
                    <td>
                        <button @onclick="AddItem">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newItemText" style="border: dimgray 1px solid"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.Inventory) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveItem(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="column-center">
            <table>
                <tr>
                    <td>
                        <button @onclick="AddMove">[✓]</button>
                    </td>
                    <td>
                        <input @bind="_newMoveText" style="border: dimgray 1px solid"/>
                    </td>
                </tr>

                @foreach (string item in _playerSheet.Moves) {
                    <tr>
                        <td>
                            <button @onclick="() => RemoveMove(item)">[🞪]</button>
                        </td>
                        <td>
                            @item
                        </td>
                    </tr>
                }

                @foreach (Move move in _playerSheet.NewMoves) {
                    <tr>
                        <td>
                            <button @onclick="() => _playerSheet.NewMoves.Remove(move)">[🞪]</button>
                        </td>
                        <td>
                            @move.Name
                            @move.OnSuccess
                            @move.OnFailMinor
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="column-right">
            <svg height="200" width="200" viewBox="0 0 200 200" style="width: 100%">
                <circle r="100" cx="100" cy="100" fill="white"/>
                <line x1="100" y1="0" x2="100" y2="200" style="stroke:black; stroke-width: 2"/>
                <line x1="0" y1="100" x2="200" y2="100" style="stroke:black; stroke-width: 2"/>
                <line x1="100" y1="100" x2="50" y2="12.5" style="stroke:black; stroke-width: 2"/>
                <line x1="100" y1="100" x2="12.5" y2="50" style="stroke:black; stroke-width: 2"/>
            </svg>
        </div>
    </div>
</div>

<hr/>

<h2>Save/Load</h2>

<textarea @bind="_saveLoadJson" style="width: 100%"></textarea>
<button @onclick="ExportToJson">[Export]</button>
<button @onclick="ImportFromJson">[Import]</button>
@_importError

@code {
    private FortunaSheet _playerSheet = new();
    private Dictionary<string, Trait> _traitsList = new() { { "Please wait...", new Trait(TraitValue.Special, "Impatient", "You didn't wait, you bastard! I asked nicely!") } };

    private string _importError;
    private string _saveLoadJson;
    private static readonly JsonSerializerOptions Options = new(JsonSerializerDefaults.Web) { WriteIndented = true, IncludeFields = true };

    private string _newItemText = "";
    private string _newMoveText = "";

    protected override async Task OnInitializedAsync()
    {
        Trait[] inputList = await _http.GetFromJsonAsync<Trait[]>("traits.json");
        if (inputList != null) {
            _traitsList = new Dictionary<string, Trait>();
            foreach (Trait trait in inputList) {
                _traitsList.Add(trait.Name, trait);
            }
        }
    }

    void TraitDropdownSelect(object value)
    {
        Trait traitToAdd = _traitsList[(string)value];
        if (_playerSheet.Traits.Contains(traitToAdd)) { return; }
        _playerSheet.Traits.Add(traitToAdd);
        _playerSheet.Traits.Sort(Trait.CompareTraitValue);
    }
    void TraitRemove(Trait toRemove)
    {
        _playerSheet.Traits.Remove(toRemove);
    }

    void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(FortunaSheet), Options);
    }
    void ImportFromJson()
    {
        try {
            _playerSheet = JsonSerializer.Deserialize<FortunaSheet>(_saveLoadJson, Options);
        }
        catch (JsonException e) {
            _importError = e.Message;
        }
    }

    void RemoveItem(string target)
    {
        _playerSheet.Inventory.Remove(target);
    }
    void AddItem()
    {
        _playerSheet.Inventory.Add(_newItemText);
    }

    void RemoveMove(string target)
    {
        _playerSheet.Moves.Remove(target);
    }
    void AddMove()
    {
        _playerSheet.Moves.Add(_newItemText);
    }
}